html,
body {
    height: 97%;
    width: 97%;
}

#site {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

.dash {
    margin-left: 27%;
    font-weight: bold;
    padding: 0%;
}

.links {
    border: 2px #404040 solid;
    width: 28%;
    position: fixed;
    float: left;
    min-height: 100%;
    height: auto;
    padding-bottom: 1%;
    padding-top: 0.5%;
    word-wrap: break-word;
}

.linksdesc {
    text-align: center;
    font-size: large;
    font-weight: 600;
    margin-left: 17%;
}

#linkstitle {
    text-align: center;
    font-size: x-large;
    margin-left: 34.5%;
}

.ame {
    margin-left: 1%;
    text-decoration: underline;
}

#main {
    border: 2px #404040 solid;
    width: 70%;
    margin-left: 29%;
    float: right;
    position: absolute;
    min-height: 100%;
    height: auto;
    top: 0;
    margin-top: 0.7%;
    word-wrap: break-word;
    z-index: 999;
}

#maintitle {
    text-align: center;
}

#subtitle {
    text-align: center;
}

.post {
    width: auto;
    height: auto;
    margin-left: 2.5%;
    padding-left: 2.5%;
    font-size: 120%;
    border: 1px #404040 solid;
}